* {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
}

:root {
	--white: hsl(0, 0%, 100%);
	--silver: hsl(0, 0%, 63%);
	--tundora: hsl(0, 0%, 27%);
	--black: hsl(0, 0%, 0%);
}

html, body {
	font-family: 'League Spartan', sans-serif;
	font-size: 16px;
	line-height: 1.375;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin: 0 0 1rem;
}

ol, ul {
	margin: 0 0;
}

p {
	color: var(--silver);
	letter-spacing: -0.01875rem;
	margin: 0 0 2.3125rem;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

.mobile {
	display: block;
}

.desktop {
	display: none;
}

.container {
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.9375em;
	margin-right: -0.9375em;
}

.col, .col-12, .col-lg-6, .col-lg-3 {
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.page {
	position: relative;
	overflow: hidden;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	padding: 2.9375em 0.5em;
}

.navbar-toggle {
	border: 0;
	padding: 0 0;
	cursor: pointer;
	border-radius: 0;
	background: none;
}

.navbar-toggle .icon-bar {
	transition: all 0.5s ease;
}

.navbar-toggle .icon-bar.open {
	opacity: 1;
	height: auto;
}

.navbar-toggle .icon-bar.close {
	opacity: 0;
	height: 0;
}

.navbar-toggle.active .icon-bar.open {
	opacity: 0;
	height: 0;
}

.navbar-toggle.active .icon-bar.close {
	opacity: 1;
	height: auto;
}

.navbar-toggle + .navbar-brand {
	padding-right: 1.25em;
}

.navbar-brand {
	display: block;
	width: fit-content;
	margin: 0 auto;
}

.navbar-menu {
	display: none;
}

.navbar-nav {
	margin: 0 0 0 auto;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	text-transform: lowercase;
}

.navbar-nav .nav-item {
	color: var(--black);
	margin-left: 2.0625em;
	letter-spacing: -0.0375rem;
}

.navbar-nav .nav-item a {
	color: inherit;
}


/* CAROUSEL */
.carousel {
	position: relative;
}

.carousel-item {
	opacity: 0;
	height: 0;
}

.carousel-item.active {
	opacity: 1;
	height: auto;
}

.carousel-text {
	padding: 3.75em 2em;
}

.carousel-title {
	font-size: 2.375em;
	line-height: 0.9736842105263158;
	letter-spacing: -0.05rem;
}

.carousel-link {
	display: block;
	color: var(--tundora);
	font-weight: 600;
	margin-bottom: 0.5625rem;
	letter-spacing: 0.75rem;
	text-transform: uppercase;
}

.carousel-link:hover,
.carousel-link:active,
.carousel-link:focus {
	outline: none;
	color: var(--silver);
}

.carousel-link::after {
	content: '';
	display: inline-block;
	width: 2.5rem;
	height: 0.75rem;
	margin-left: 1rem;
	vertical-align: middle;
	background-image: url('./images/icon-arrow.svg');
}

.carousel-controls {
	position: absolute;
	top: 19rem;
	right: 0;
	width: 7rem;
	height: 3.5rem;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--black);
}

.carousel-control {
	display: block;
	flex: 0 0 50%;
}

.carousel-control.left {
	padding: 1rem 1.25rem 1rem 1.375rem;
}

.carousel-control.right {
	padding: 1rem 1.375rem 1rem 1.25rem;
}

/* FURNITURE */

.furniture-content {
	padding: 3.25em 2em 2.625em;
}

.furniture-title {
	font-size: 0.8125em;
	font-weight: 700;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

.furniture-desc {
	margin: 0;
}

/* modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal .navbar {
	padding: 2.75em 1.5em 2.75em 1.625em;
	background-color: var(--white);
}

.modal .navbar-menu {
	display: block;	
	width: fit-content;
	margin-left: auto;
}


@media screen and (min-width: 1200px) {
	.page {
		max-width: 90rem;
		margin: 0 auto;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	.col-lg-auto {
		flex: 0 0 auto;
	}

	.col-lg {
		flex: 1 0 0;
	}

	.navbar {
		max-width: 50.625em;
		padding: 4em 3em 2em;
	}

	.navbar-toggle {
		display: none;
	}

	.navbar-toggle + .navbar-brand {
		padding-right: 3.625em;
	}

	.navbar-brand {
		margin: 0;
	}

	.navbar-menu {
		display: block;
	}

	.navbar-nav {
		margin-top: -0.125rem;
	}

	.navbar-nav .nav-item {
		color: var(--white);
		margin-left: 0;
		margin-right: 2em;
	}

	.navbar-nav .nav-item a {
		display: block;
		line-height: 1;
	}

	.carousel-item {
		display: flex;
		flex-wrap: wrap;
	}

	.carousel-image {
		flex: 0 0 auto;
	}

	.carousel-text {
		flex: 1 0 0;
		padding: 7.5625rem 5.625rem 6.25rem 6.25rem;
	}

	.carousel-title {
		font-size: 2.8125rem;
		margin-bottom: 1.5rem;
		letter-spacing: -0.04375rem;
	}

	.carousel-desc {
		margin-bottom: 1.25rem;
	}

	.carousel-link {
		margin-bottom: 0;
		letter-spacing: 0.725rem;
	}

	.carousel-link::after {
		margin-left: 1.25rem;
	}

	.carousel-controls {
		top: unset;
		bottom: 0;
		right: 27.5rem;
		width: 10rem;
		height: 5rem;
	}

	.carousel-control.left,
	.carousel-control.right {
		padding: 1.75rem 2.0625rem;
	}

	.furniture-content {
		padding: 4rem 1rem 4rem 1.125rem;
	}

	.furniture-title {
		font-size: 1rem;
		margin-bottom: 0.75rem;
		letter-spacing: 0.41875rem;
	}

	.furniture-desc {
		letter-spacing: -0.02125rem;
	}
}